<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar Mahasiswa</title>
  </head>

  <body>
    <h1>Daftar Mahasiswa</h1>
    <a href="/mahasiswa/form">Tambah</a>
    <ul>
      <% data.forEach(mahasiswa=> { %>
      <li>
        <%= mahasiswa.nama %> - <%= mahasiswa.jurusan %> - <%=
        mahasiswa.angkatan %> -
        <a href="/mahasiswa/<%= mahasiswa.id %>">Detail</a> -
        <a href="/mahasiswa/update/<%= mahasiswa.id %>">Ubah</a> -
        <a href="/mahasiswa/delete/<%= mahasiswa.id %>">Hapus</a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
